
.nav {
    z-index:100;
    width: 1050px;
    margin: 0 auto;
    height: 72px;
    display: flex;
    flex-direction: row;
  }
  
.nav img{
    width: 126px;
    height: 28px;
    margin-top: 25px;
    vertical-align: bottom;
}

  ul{
    margin-top: 25px;
    list-style: none;
  }

  li{
    float: right;
    padding-left: 40px;
  }

  .nav a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 18px;


    transition: all 200ms ease;
  }

  .nav a:hover {
    color: rgb(224, 198, 0);

  }
