
.nav {
    position: relative;
    z-index:100;
    height: 100px;
    width: 100%;

  }
  
.nav span {
    float: left;
    color: rgb(0, 0, 0);
    font-size: 50px;
    margin-top:25px;
  }

  ul{
    list-style: none; 
  }

  .li1{

    position: absolute;
   
    height: 20px;
    left: 1090px;
    top: 26px;
  }

  .li2{
    position: absolute;
   
    height: 20px;
    left: 1164px;;
    top: 26px;
  }

  .li3{
    position: absolute;
  
    height: 20px;
    left: 1240px;
    top: 26px;
  }
  
  .nav a {
    text-decoration: none;
    color: #000000;
    font-weight: 500;
    font-size: 18px;
    
   
    transition: all 200ms ease;
  }
  
  .nav a:hover {
    color: rgba(255,255,255,.4);
    
  }
  